{% set title = 'login.header'|trans %}
{% set description = 'login.description'|trans %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}login.header{% endtrans %}{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form method="post" id="login-form">
        <fieldset>
            <legend>{% trans %}label.login-form{% endtrans %}</legend>
            <div class="form-group">
                <label for="login-id">
                    {% trans %}label.username{% endtrans %}
                </label>
                <input type="text"
                       id="login-id"
                       class="form-control"
                       value="{{ last_username }}"
                       name="username"
                       placeholder="{% trans %}label.username{% endtrans %}"
                       autofocus
                       required>
            </div>
            <div class="form-group">
                <label for="login-password">
                    {% trans %}label.password{% endtrans %}
                </label>
                <input type="password"
                       id="login-password"
                       name="password"
                       class="form-control"
                       placeholder="{% trans %}label.password{% endtrans %}"
                       required>
                <span class="right">
                    <a id="forgot-passowrd"
                       class="btn-small"
                       href="{{ path("app_forgot_password_request") }}">
                        {% trans %}label.forgot_password{% endtrans %}
                    </a>
                </span>
            </div>
            <input
                    type="hidden"
                    name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_remember_me">
                    {% trans %}label.remember_me{% endtrans %}
                </label>
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn-success form-control" type="submit">
                {% trans %}user.login{% endtrans %}
            </button>
            <a class="btn-primary form-control" href="{{ path('register') }}">
                {% trans %}user.register{% endtrans %}
            </a>
        </div>
    </form>
{% endblock %}
