{% set title = "Accueil" %}
{% set description = "Ce site est en version beta" %}
{% extends 'base.html.twig' %}

{% block body %}
    {% for root in roots %}
        {% set content = root %}
        {% include('content/' ~ root.type ~ '/display.html.twig') %}
    {% endfor %}
{% endblock %}
