{% set title = 'register.header'|trans %}
{% set description = 'register.description'|trans %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}register.header{% endtrans %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(registrationForm) }}
    <fieldset>
        <legend>
            {% trans %}register.header{% endtrans %}
        </legend>
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.agreeTerms) }}
    </fieldset>
    <button type="submit" class="btn btn-lg btn-success form-control">
        {% trans %}user.register {% endtrans %}
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}
