{% extends 'base.html.twig' %}

{% block body %}
    {% for form in forms %}
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.content)}}
        {{ form_end(form)}}
    {% endfor %}
{% endblock %}
