{% extends 'base.html.twig' %}

{% block body %}
    <div class="markdown post-content">{{ content.content }}</div>
    {% set node = content.node %}
    {{ include('content/comments_block.html.twig') }}
{% endblock %}
