{#
# Needs a content of type Content,
# or a title and a description
#}
{% if content is defined %}
	{# Get the link of the first parent #}
	{% if content.node.parents is empty %}
		{% set linkParent = path("home") %}
	{% else %}
		{% set parent = content.node.parents.first.parent %}
		{% set linkName = parent.defaultLink.name %}
		{% set linkParent = path(parent.current.type ~ "_view", {"content": linkName}) %}
	{% endif %}
	{# Set the links to view, edit and administrate this node #}
	{% set link = content.node.defaultLink.name %}
	{% set view = path(content.type~"_view", {"content": link}) %}
	{% set edit = path(content.type~"_edition", {"content": link}) %}
	{% set admin = path("content_administration", {"content": link}) %}
	{# Update title and dscription #}
	{% if not title is defined %}
		{% set title = content.title %}
	{% endif %}
	{% if not description is defined %}
		{% set description = content.description %}
	{%endif%}
{% endif %}
<header id="page-header">
	<div class="header-card">
		{% if content is defined %}
			<div class="return-parent">
				<a href="{{ linkParent }}" class="parent-link">
					{% if content.node.parents is empty %}
						{% trans %}return.to.root{% endtrans %}
					{% else %}
						{% trans %}return.to.parent{% endtrans %}
					{% endif %}
				</a>
				{% if not content.node.parents is empty %}
					<select class="parent-selector" name="parent-selection">
						{% for relation in content.node.parents %}
							{% set type = relation.parent.current.type %}
							{% set link = relation.parent.defaultLink.name %}
							<option
									value="{{ path(type~"_view", {"content": link }) }}">
							{{ relation.parent.current.title }}
							</option>
						{% endfor %}
					</select>
				{% endif %}
			</div>
		{% endif %}
		<div class="header-card-content">
			<h1>{{ title }}</h1> 
			<p class="markdown">{{ description }}</p>
		</div>
		{% if content is defined %}
			<div class="header-card-footer">
				<p>
				{% trans %}written.by{% endtrans %}
				<a href="#">{{ content.author.current.username }}</a>
				{{"date.publication"|trans({"%publishedAt%": content.publishedAt})}}
				</p>
			</div>
		{% endif %}
	</div>
	{% if content is defined %}
		<div class="header-bar">
			<div class="select-version">
			<a href="#" class="load-version">
				{% trans %}load.version{% endtrans %}
			</a>
			<select class="version-selector" name="version-selector">
				{% for version in content.node.content %}
						{% if version.title is defined %}
						<option value="#">{{ version.title }}</option>
						{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="content-actions">
			<a href="{{ view }}" class="btn-small">
				{% trans %}btn.view{% endtrans %}
			</a>
			{% if is_granted("edit", content.node) %}
				<a href="{{ edit }}" class="btn-small">
					{% trans %}btn.edit{% endtrans %}
				</a>
			{% endif %}
			{% if is_granted("admin", content.node) %}
				<a href="{{ admin }}" class="btn-small">
					{% trans %}btn.admin{% endtrans %}
				</a>
			{% endif %}
		</div>
	</div>
	{% endif %}
</header>
