<nav id="main-menu">
	<a href="#main-menu" class="btn">Menu</a>
	<div id="main-menu-content">
		<h1><a href="#" class="menu-link">Menu</a></h1>
		<h2>
			<a href="{{path("home")}}" class="menu-link">
				{%trans%}Home{%endtrans%}
			</a>
		</h2>
	</div>
</nav>
