<nav id="navbar">
	{{ include("base/menu.html.twig") }}
	<div class="navbar-section">
		<a href="{{ path("home") }}">
			{% trans %}link.home{% endtrans %}
		</a>
	</div>
	<div id="navbar-right">
		<div class="navbar-section">
			{{ include("base/notifications.html.twig") }}
		</div>
		<div class="navbar-section">
		{% if app.user %}
			<div class="navbar-section">
					{% include "profile/card/small.html.twig" with {'profile': app.user} %}
			</div>
			<a href="{{ path("app_logout") }}" class="btn-primary">
				{% trans %}user.logout{% endtrans %}
			</a>
		{% else %}
			<a href="{{ path("app_login") }}" class="btn-success">
				{% trans %}user.login{% endtrans %}
			</a>
		{% endif %}
		</div>
	</div>
</nav>
