<div id="notifications">
	<a href="#notifications" class="btn-primary notifications-menu">
		N
		{% if not app.flashes is empty %}
			(!)
		{% endif %}
	</a>
	<ul class="notifications-list">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<li class="alert alert-{{ label }}" role="alert">
					{{ message }}
				</li>
			{% endfor %}
		{% endfor %}
		{% if app.flashes is empty %}
			<li>{%trans%}no.notifications{%endtrans%}</li>
		{%endif%}
	</ul>
</div>
