{% extends 'base.html.twig' %}

{% block title %}{% trans %}reset_email_sent.heading{% endtrans %}{% endblock %}

{% block body %}
    <p>
        {% trans with {'%expiration%': tokenLifetime|date('g')} %}reset_email_sent.paragraph0{% endtrans %}
    </p>
    <p>
        {% trans %}reset_email_sent.paragraph1{% endtrans %}
        <a href="{{ path('app_forgot_password_request')}}">{% trans %}reset_email_sent.paragraph2{% endtrans %}</a>.
    </p>
    <!-- <p>An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p> -->
{% endblock %}
