{% extends 'base.html.twig' %}

{% block title %}{% trans %}reset_password.header{% endtrans %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>{% trans %}reset_password.header{% endtrans %}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {% trans %}reset_password.help.email{% endtrans %}
            </small>
        </div>

        <button class="btn btn-primary">{% trans %}reset_password.request.label{% endtrans %}</button>
    {{ form_end(requestForm) }}
{% endblock %}
