{% extends 'base.html.twig' %}

{% block title %}{% trans %}reset_password.header{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}reset_password.header{% endtrans %}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary form-control">{% trans %}reset_password.label.validate{% endtrans %}</button>
    {{ form_end(resetForm) }}
{% endblock %}
