{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ content.current.title }}</h1>
    <p>{{ content.current.description }}</p>
    <h2>{% trans %}list.links{% endtrans %}</h2>
    <ul>
        {% for link in content.links %}
            <li><a href="{{ link.name }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
