{% extends 'base.html.twig' %}

{% block body %}
    {% set category = content %}
    {% set form = forms["edit_category"] %}
    {% set createpost = forms["create_post"] %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
    {{ form_end(form)}}
    <hr/>
    <div class="row">
        <div class="col-sm">
            {{ form_start(createpost, {'attr':{'id': 'content-form'}}) }}
                {{ form_errors(createpost) }}

                {{ form_row(createpost.content)}}
            {{ form_end(createpost)}}
        </div>
        <div class="col-sm">
            <a href="{{ path("category_creation", {parent: category.node.defaultLink.name}) }}" class="btn btn-lg btn-primary">
                {% trans %}create.category{% endtrans %}
            </a>
        </div>
    </div>
    <hr/>
    {% for relation in category.content %}
        {% if relation.child.current.type != "comment" %}
            {% set content = relation.child.current %}
            {{ include('content/' ~ content.type ~'/display.html.twig') }}
            <hr/>
        {% endif %}
    {% endfor %}
{% endblock %}
