{% extends 'base.html.twig' %}

{% block body %}
    {% set category = content %}
    <div class="row">
    {% for relation in category.content %}
        {% set content = relation.child.current %}
        {% if not relation.child.isDraft and content.type != "comment" %}
            <div class="col-sm">
                {{ include('content/' ~ content.type ~ '/display.html.twig') }}
            </div>
        {% endif %}
    {% endfor %}

    {% set node = category.node %}
    {{ include('content/comments_block.html.twig') }}

{% endblock %}
