<div class="container">
    <hr/>
    <h1>{% trans %}header.comments{% endtrans %}</h1>
    {% if not node.comments.empty %}
        {% for comment in node.comments %}
            <div class="comment">
                <p class="markdown">{{ comment.content }}</p>
                <div class="blockquote-footer text-right">
                	<a href="#">
                        {{ comment.author.current.username }}
                    </a>,
                    {{ comment.publishedAt|date("Y/m/d") }}
                </div>
            </div>
            <hr/>
        {% endfor %}
    {% endif %}
    {% if app.user %}
        {{ form_start(comment_form) }}
            {{ form_widget(comment_form.content) }}
            {{ form_widget(comment_form.publish) }}
        {{ form_end(comment_form) }}
    {% endif %}
</div>
