/************************
 Table of contents ******
 * 1. Typography ********
 * 2. Layout ************
 *    2.1 Navbar ********
 *    2.2 Menu **********
 * 3. Elements **********
 *    3.1 Notifications *
************************/

:root {
	--default-color: #FFF;
	--primary-color: #182C92;
	--secondary-color: #D81F1F;
	--default-text: #000;
	--primary-text: #FFF;
	--secondary-text: #FFF;
	--default-link: #85A;
	--navbar-height: 50px;
	--alert-color: #D81F1F;
	--alert-text: #FFF;
}

body {
	background-color: var(--default-color);
	margin: 0;
	padding: 0;
	color: var(--default-text);
	margin-top: calc(var(--navbar-height));
}

/*************
 1. Typography
*************/

* {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: var(--default-link);
}

/*********
 2. Layout
*********/

/*
 2.1 Navbar
*/
#navbar {
	display: flex;
	flex-direction: row;
	background-color: var(--primary-color);
	height: calc(var(--navbar-height) - 20px);
	width: calc(100% - 20px);
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px;
	align-items: center;
	z-index: 10;

	.navbar-section {
		display: flex;
		align-self: center;
		margin-left: 5px;
		margin-right: 5px;
	}

	#navbar-right {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		align-items: center;
	}

}

#navbar a {
	color: var(--primary-text);
}

/*
 2.2 Menu
*/
#main-menu-content {
	position: fixed;
	top: 0;
	left: 0;
	width: min(100vw, 500px);
	padding: 5px;
	height: 100vh;
	background-color: var(--secondary-color);
	transform: translate(-100%);
	overflow: auto; 
	transition: transform 500ms ease;
}

#main-menu:target #main-menu-content {
	transform: translate(0);
}

.menu-link {
	color: var(--secondary-text);
}

/*
 2.3 Notifications
*/
#notifications {

	.notifications-list {
		position: fixed;
		top: var(--navbar-height);
		right: 10px;
		background-color: var(--secondary-color);
		margin: 0;
		padding: 10px;
		list-style:none;
		transform: scale(0);
		transition: transform 500ms ease;
	}
	&:target .notifications-list {
		transform: scale(1);
	}
}

/*
 2.4 Header
*/
#page-header {
	margin: 0;
	padding: 0;
	width: 100%;
}

.return-parent {
	font-size: .8rem;

	a {
		color: var(--secondary-text);
	}

	.parent-selector {
		background: none;
		background-color: none;
		border: none;
		color: var(--secondary-text);
	}
}

.header-card {
	position: relative;

	.header-card-content {
		padding-top: 50px;

		h1 {
			text-align: center;
			margin-top: 0px;
			margin-bottom: 0px;
			line-height: .9;
			padding: 0 5px;
		}

		p {
			@media (min-width: 600px) {
				text-align: center;
			} @media (max-width: 600px) {
				text-align: left;
			}
			margin: 30px 0;
			line-height: 1.6;
			padding: 0 5px;
			font-size: 1.2rem;
			min-height: 1em;
		}
	}

	.header-card-footer {
		text-align: right;
		font-size: .8rem;
		a, p {
			color: var(--secondary-text);
			padding: 0;
			margin: 0;
		}
		a {
			text-decoration: underline;
		}
	}
	
}

.header-card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--secondary-color);
	opacity: .6;
	z-index:-1;
}

.header-bar {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid black;

	.content-actions {
		margin-left: auto;
	}

}

/*
 2.5 Body
 */
.container {
	@media (min-width: 600px) {
		padding: 0 50px;
	}
	@media (max-width: 600px) {
		padding: 0 10px;
	}
}

/***********
 3. Elements
***********/

.right {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

/*
 3.1 Forms
*/


fieldset {
	padding: 5px;
	margin-top: 30px;
	legend {
		font-weight: bold;
	}
}

.form-group {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 15px 0;
	padding: 5px;
}

.form-control {
	width: 100%;
	box-sizing: border-box;
}

/*
 3.2 Buttons
 */
.btn {
	display: inline-block;
	border: 1px solid var(--secondary-color);
	margin: 5px 0;
	padding: 10px;
	text-align: center;
	font-size: 1rem;
	border-radius: 5px;
}
.btn-success {
	@extend .btn;
	background: green;
	color: white;
}
.btn-primary {
	@extend .btn;
	background-color: var(--primary-color);
	border: 1px solid var(--secondary-color);
	color: var(--primary-text);
}
.btn-small {
	@extend .btn;
	padding: 5px;
	font-size: .8rem;
	border-radius: 3px;
}

/*
 3.3 Alerts
 */
.alert {
	color: var(--alert-text);
	box-sizing: border-box;
	width: calc(100%);
	background-color: var(--alert-color); 
	padding: 10px;
	border-radius: 5px;
	margin: 5px 0; 
}
