{% if not title is defined %}
    {% if content is defined and content.title is defined %}
        {% set title = content.title %}
    {% else %}
        {% set title = "" %}
    {% endif %}
{% endif %}
{% if not description is defined %}
    {% if content is defined and content.description is defined %}
        {% set description = content.description %}
    {% else %}
        {% set description = "" %}
    {% endif %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block page %}
            {{ include('base/navbar.html.twig') }}
            {{ include('base/header.html.twig') }}
            <div class="container">
                {% block body %}{% endblock body %}
            </div>
        {% endblock page %}
        {{ encore_entry_script_tags('app')}}
        {% block javascripts %}{% endblock %}
    </body>
</html>
