<h2>{{ content.title }}</h2>
<div class="markdown post-content">{{ content.description }}</div>
<a href="{{ path('application_view', {'content': content.node.defaultLink.name})}}"
class="btn btn-primary">
{% trans %}btn.see.post{% endtrans %}
</a>
<div class="blockquote-footer text-right">
	<a href="#">
        {{ content.author.current.username }}
    </a>,
    {{ content.publishedAt|date("Y/m/d") }}
</div>
