{% extends 'base.html.twig' %}

{% block body %}
    {% set application_form = forms['edit_application'] %}
    {% set add_js = forms['create_java_script_file'] %}
    {% set application = content %}

    {{ form_start(application_form) }}
    {{ form_end(application_form) }}

    <hr/>

    {% for js in application.code %}
        {% set form = forms['edit_java_script_file_' ~ js.current.title] %}
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            <div class="form-controll">
                {{ form_widget(form.code, {'attr': {'class': 'code-input'}}) }}
            </div>
        {{ form_end(form) }}
        <hr/>
    {% endfor %}

    {{ form_start(add_js) }}
    {{ form_end(add_js) }}

{% endblock %}
