{% extends 'base.html.twig' %}

{% block body %}
    {% set application = content %}
    <canvas class="canvas" id="canvas"></canvas>
    {% set node = application.node %}
    {{ include('content/comments_block.html.twig') }}

{% endblock %}

{% block javascripts %}
    {% set application = content %}

    {% for js in application.code %}
        <script type="text/javascript">
            {{ js.current.code|raw }}
        </script>
    {% endfor %}

{% endblock %}
